<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <File name="equationFile" bufferedIO="true" fileName="equation/src/main/resources/equationLog.txt">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="Main" level="info" additivity="true">
            <AppenderRef ref="equationFile"/>
        </Logger>
        <Logger name="UserInput" level="error" additivity="true">
            <AppenderRef ref="equationFile"/>
        </Logger>
    </Loggers>
</Configuration>