<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="patternfull">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternfull}"/>
        </Console>
        <File name="menuFile" bufferedIO="true" fileName="branching/src/by.training/log/menuLog.txt">
            <PatternLayout pattern="${patternfull}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="Menu" level="info" additivity="true">
            <AppenderRef ref="menuFile"/>
        </Logger>
        <Logger name="FirstDataCreator" level="info" additivity="true">
            <AppenderRef ref="menuFile"/>
        </Logger>
        <Logger name="SecondDataCreator" level="info" additivity="true">
            <AppenderRef ref="menuFile"/>
        </Logger>
        <Logger name="ThirdDataCreator" level="info" additivity="true">
            <AppenderRef ref="menuFile"/>
        </Logger>
        <Logger name="FourthDataCreator" level="info" additivity="true">
            <AppenderRef ref="menuFile"/>
        </Logger>
        <Logger name="FifthCreator" level="info" additivity="true">
            <AppenderRef ref="menuFile"/>
        </Logger>
        <Logger name="FitChecker" level="info" additivity="true">
            <AppenderRef ref="menuFile"/>
        </Logger>
    </Loggers>
</Configuration>