<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="patternfull">%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{5} - %msg%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${patternfull}"/>
        </Console>
        <File name="mainFile" bufferedIO="true" fileName="src/by.training.task03DecompositionLayeredArchitecture/resources/mainLog.txt">
            <PatternLayout pattern="${patternfull}"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
        <Logger name="BubbleCommandArrayImpl" level="info" additivity="true">
            <AppenderRef ref="mainFile"/>
        </Logger>
        <Logger name="InsertionCommandArrayImpl" level="info" additivity="true">
            <AppenderRef ref="mainFile"/>
        </Logger>
        <Logger name="MergeCommandArrayImpl" level="info" additivity="true">
            <AppenderRef ref="mainFile"/>
        </Logger>
        <Logger name="SelectionCommandArrayImpl" level="info" additivity="true">
            <AppenderRef ref="mainFile"/>
        </Logger>
        <Logger name="ShakerCommandArrayImpl" level="info" additivity="true">
            <AppenderRef ref="mainFile"/>
        </Logger>
        <Logger name="ShellCommandArrayImpl" level="info" additivity="true">
            <AppenderRef ref="mainFile"/>
        </Logger>
        <Logger name="MultiplyCommandMatrixImpl" level="info" additivity="true">
            <AppenderRef ref="mainFile"/>
        </Logger>
        <Logger name="SubdividerCommandMatrixImpl" level="info" additivity="true">
            <AppenderRef ref="mainFile"/>
        </Logger>
        <Logger name="SummatorCommandMatrixImpl" level="info" additivity="true">
            <AppenderRef ref="mainFile"/>
        </Logger>
        <Logger name="ArrayCommandProvider" level="info" additivity="true">
            <AppenderRef ref="mainFile"/>
        </Logger>
    </Loggers>
</Configuration>